.boxes
  lost-utility clearfix

  .box
    lost-column 1/3 3 0
    box-sizing border-box
    border-right border-specs
    border-top border-specs
    border-bottom border-specs
    &:last-child
      border-right none
