footer
  padding sidebar-padding

  .contact
    @extend .unstyled-list
    a
      position relative
      display inline-block
      box-sizing border-box
      width 100%
      padding .5em 0 0 2.5rem

      text-decoration none
      color links-color

      &:before
        content ""
        position absolute
        left 0
        top .5rem
        width 1.5rem
        height 1.5rem
        background-repeat no-repeat
        background-size contain

      &.email:before
        background-image url('../images/email.png')

      &.twitter:before
        background-image url('../images/twitter.png')

      &.linkedin:before
        background-image url('../images/linkedin.png')

      &.github:before
        background-image url('../images/github.png')
