.sidebar:before
  background-color sidebar-bg-color

.summary
  background-color summary-bg-color
  text-align center

  h1
    text-transform uppercase
    margin-bottom 0

  h2.title
    font-family 'Noto Sans', sans-serif
    color h2-color
    margin-top 5px

  .avatar
    position relative

    img
      width 60%
      border-radius 50%
      margin 18% 18% 10px

    .flag
      position absolute
      bottom 0
      right 0
      width 14%
      border 5px solid summary-bg-color

  .location
    font-family 'Montserrat', sans-serif
    font-weight normal
    background-image url('../images/location.png')
    background-repeat no-repeat
    padding-left 25px
    font-style italic
    display inline-block
    height 19px
    margin-top 10px
    font-weight 100

.content
  h1
    margin-top 3em

  h2
    color h2-color
    margin-top 3em
    margin-bottom 2em
