.container
  position relative
  lost-utility clearfix
  +below(mobile-threshold)
    padding-bottom 250px

.sidebar
  lost-column 4/12 12 0
  +below(mobile-threshold)
    lost-column 1/1 1 0

.sidebar:before
  lost-column 4/12 12 0
  +below(mobile-threshold)
    display none

.sidebar:before
  content ''
  position fixed
  top 0
  bottom 0
  z-index -1
  left 0

.content
  lost-column 8/12 12 0
  box-sizing border-box
  padding 10px 5%
  +below(mobile-threshold)
    lost-column 1/1 1 0

.cols-4
  lost-utility clearfix
  > *
    lost-column 1/4
    max-width 200px

.languages
  @extend .cols-4

.projects
  @extend .cols-4

.map
  lost-utility clearfix
  img
    lost-column 1/1
    max-width 890px
