.container
  lost-utility clearfix

.sidebar:before
  content ''
  position fixed
  top 0
  bottom 0
  z-index -1
  left 0
  background-color sidebar-bg-color

.sidebar,
.sidebar:before
  lost-column 4/12

.content
  lost-column 8/12
