ul.nav-links
  @extend .unstyled-list
  background-color sidebar-bg-color

  li
    border-bottom border-specs
    transition transitions-delay
    opacity 0.4

    &:hover
      transition transitions-delay
      opacity 1
      background-color active-link-bg-color

  a
    position relative
    display inline-block
    box-sizing border-box
    width 100%
    padding 2rem
    padding-left "calc(%s + 4rem)" % sidebar-padding
    padding-right 5px
    color menu-link-color
    font-size font-size-big
    font-weight 700

    +below(mobile-threshold)
      padding-left "calc(%s + 4rem)" % 5%

    &:before
      content ""
      position absolute
      left sidebar-padding
      top 1.5rem
      width 3rem
      height 3rem
      background-repeat no-repeat
      background-size contain

      +below(mobile-threshold)
        left 5%

    &.about:before
      background-image url("../images/about.png")

    &.education:before
      background-image url("../images/education.png")

    &.experience:before
      background-image url("../images/experience.png")

    &.skills:before
      background-image url("../images/skills.png")
#fullscreen-toggle
  img
    width 2rem
    height auto
