+below(620px)
  html
    font-size 6px

+between(620px, 680px)
  html
    font-size 7px

+between(680px, 720px)
  html
    font-size 8px

+between(720px, 800px)
  html
    font-size 9px

+between(800px, 860px)
  html
    font-size 10px

+between(860px, 920px)
  html
    font-size 11px

+between(920px, 1000px)
  html
    font-size 12px

+between(1000px, 1200px)
  html
    font-size 13px

+above(1200px)
  html
    font-size 16px
