.sidebar
  background-color sidebar-bg-color

.summary
  background-color summary-bg-color
  text-align center

  h1
    text-transform uppercase
    margin-bottom 0

  h2.title
    font-family 'Noto Sans', sans-serif
    margin-top .1rem

  .avatar
    position relative

    img
      width 60%
      border-radius 50%
      margin 5rem 18% 2rem

    .flag
      position absolute
      bottom 0
      right 0
      width 14%
      border .4rem solid summary-bg-color

  .location
    position relative
    font-family 'Montserrat', sans-serif
    font-weight normal
    padding-left 2rem
    font-style italic
    display inline-block
    margin-top 1rem
    font-weight 100

    &:before
      content ""
      position absolute
      left 0
      top .1rem
      width 1.5rem
      height 1.5rem
      background-image url('../images/location.png')
      background-repeat no-repeat
      background-size contain
