normalize-css()

@import variables
@import layout
@import boxes
@import index

body
  font-family 'Montserrat', sans-serif
  font-weight 400
  font-size font-size-base

ul
  padding-left 0
  list-style none

  li:before
    content "\2666"
    margin-right 10px
