sidebar-bg-color = #fafafa
summary-bg-color = #f0f0f0
active-link-bg-color = summary-bg-color

menu-link-color = #000

border-color = #dad9da
border-specs = 1px solid border-color

h2-color = #646261

font-size-base = 14px
font-size-small = font-size-base - 3px
font-size-big = font-size-base + 4px
font-size-huge = font-size-base + 15px

transitions-delay = 200ms
