sidebar-bg-color = #fafafa
summary-bg-color = #f0f0f0
active-link-bg-color = summary-bg-color

menu-link-color = #000

border-color = #dad9da
border-specs = 1px solid border-color

color-muted = #646261
color-help = #838383
links-color = color-muted
h2-color = links-color

font-size-base = 1rem
font-size-small = font-size-base - .2rem
font-size-big = font-size-base + .2rem
font-size-huge = font-size-base + .8rem

transitions-delay = 200ms

sidebar-padding = 11%
