html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
b,
strong {
  font-weight: bold;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  *zoom: 1;
}
.container:before {
  content: '';
  display: table;
}
.container:after {
  content: '';
  display: table;
  clear: both;
}
@media only screen and (max-width: 480px) {
  .container {
    padding-bottom: 250px;
    overflow: visible;
    height: auto;
  }
}
.sidebar {
  width: calc(99.999999% * 4/12);
  height: 100vh;
  overflow: auto;
}
.sidebar:nth-child(n) {
  float: left;
  margin-right: 0;
  clear: none;
}
.sidebar:last-child {
  margin-right: 0;
}
.sidebar:nth-child(12n) {
  margin-right: 0;
}
.sidebar:nth-child(12n + 1) {
  clear: left;
}
@media only screen and (max-width: 480px) {
  .sidebar {
    width: calc(99.999999% * 1/1);
    overflow: visible;
    height: auto;
  }
  .sidebar:nth-child(n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .sidebar:last-child {
    margin-right: 0;
  }
  .sidebar:nth-child(1n) {
    margin-right: 0;
  }
  .sidebar:nth-child(1n + 1) {
    clear: left;
  }
}
.content {
  width: calc(99.999999% * 8/12);
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  padding: 10px 5%;
}
.content:nth-child(n) {
  float: left;
  margin-right: 0;
  clear: none;
}
.content:last-child {
  margin-right: 0;
}
.content:nth-child(12n) {
  margin-right: 0;
}
.content:nth-child(12n + 1) {
  clear: left;
}
@media only screen and (max-width: 480px) {
  .content {
    width: calc(99.999999% * 1/1);
    overflow: visible;
    height: auto;
  }
  .content:nth-child(n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .content:last-child {
    margin-right: 0;
  }
  .content:nth-child(1n) {
    margin-right: 0;
  }
  .content:nth-child(1n + 1) {
    clear: left;
  }
}
.cols-4,
.languages,
.projects {
  *zoom: 1;
}
.cols-4:before,
.languages:before,
.projects:before {
  content: '';
  display: table;
}
.cols-4:after,
.languages:after,
.projects:after {
  content: '';
  display: table;
  clear: both;
}
.cols-4 > *,
.languages > *,
.projects > * {
  width: calc(99.99% * 1/4 - (30px - 30px * 1/4));
  max-width: 200px;
}
.cols-4 > *:nth-child(n),
.languages > *:nth-child(n),
.projects > *:nth-child(n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.cols-4 > *:last-child,
.languages > *:last-child,
.projects > *:last-child {
  margin-right: 0;
}
.cols-4 > *:nth-child(4n),
.languages > *:nth-child(4n),
.projects > *:nth-child(4n) {
  margin-right: 0;
}
.cols-4 > *:nth-child(4n + 1),
.languages > *:nth-child(4n + 1),
.projects > *:nth-child(4n + 1) {
  clear: left;
}
.map {
  *zoom: 1;
}
.map:before {
  content: '';
  display: table;
}
.map:after {
  content: '';
  display: table;
  clear: both;
}
.map img {
  width: calc(99.99% * 1/1 - (30px - 30px * 1/1));
  max-width: 890px;
}
.map img:nth-child(n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.map img:last-child {
  margin-right: 0;
}
.map img:nth-child(1n) {
  margin-right: 0;
}
.map img:nth-child(1n + 1) {
  clear: left;
}
.unstyled-list,
ul.skills,
ul.list,
ul.nav-links,
footer .contact {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.skills li {
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 1rem;
  padding: 0.7rem 0.7rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #f0f0f0;
  border-radius: 2rem;
}
ul.list li:before {
  content: "\2666";
  margin-right: 10px;
}
.boxes {
  *zoom: 1;
  border-top: 1px solid #dad9da;
  border-bottom: 1px solid #dad9da;
  margin-top: 20px;
}
.boxes:before {
  content: '';
  display: table;
}
.boxes:after {
  content: '';
  display: table;
  clear: both;
}
.boxes .box {
  padding: 0.7rem;
  -webkit-transition: 200ms;
  transition: 200ms;
  width: calc(99.999999% * 1/3);
  box-sizing: border-box;
  border-right: 1px solid #dad9da;
  text-transform: uppercase;
  line-height: 5rem;
  text-align: center;
}
.boxes .box:nth-child(n) {
  float: left;
  margin-right: 0;
  clear: none;
}
.boxes .box:last-child {
  margin-right: 0;
}
.boxes .box:nth-child(3n) {
  margin-right: 0;
}
.boxes .box:nth-child(3n + 1) {
  clear: left;
}
.boxes .box span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.boxes .box span strong {
  font-weight: bold;
  font-size: 1.8rem;
}
.boxes .box:last-child {
  border-right: none;
}
ul.nav-links {
  background-color: #fafafa;
}
ul.nav-links li {
  border-bottom: 1px solid #dad9da;
  -webkit-transition: 200ms;
  transition: 200ms;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}
ul.nav-links li:hover {
  -webkit-transition: 200ms;
  transition: 200ms;
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
  background-color: #f0f0f0;
}
ul.nav-links a {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;
  padding-left: calc(11% + 4rem);
  padding-right: 5px;
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
}
@media only screen and (max-width: 480px) {
  ul.nav-links a {
    padding-left: calc(5% + 4rem);
  }
}
ul.nav-links a:before {
  content: "";
  position: absolute;
  left: 11%;
  top: 1.5rem;
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: contain;
}
@media only screen and (max-width: 480px) {
  ul.nav-links a:before {
    left: 5%;
  }
}
ul.nav-links a.about:before {
  background-image: url("../images/about.png");
}
ul.nav-links a.education:before {
  background-image: url("../images/education.png");
}
ul.nav-links a.experience:before {
  background-image: url("../images/experience.png");
}
ul.nav-links a.skills:before {
  background-image: url("../images/skills.png");
}
footer {
  padding: 11%;
  box-sizing: border-box;
}
@media only screen and (max-width: 480px) {
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5%;
    width: 100%;
    box-sizing: border-box;
    background-color: #fafafa;
  }
}
footer .contact a {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em 0 0 2.5rem;
  text-decoration: none;
  color: #646261;
}
footer .contact a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}
footer .contact a.email:before {
  background-image: url("../images/email.png");
}
footer .contact a.twitter:before {
  background-image: url("../images/twitter.png");
}
footer .contact a.linkedin:before {
  background-image: url("../images/linkedin.png");
}
footer .contact a.github:before {
  background-image: url("../images/github.png");
}
.legend {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.legend li {
  display: inline-block;
  padding: 0.3rem 2rem 0.3rem 30px;
  position: relative;
}
.legend li:before {
  content: "";
  position: absolute;
  left: 5px;
  width: 20px;
  height: 20px;
  background-image: url("../images/legends.png");
  background-repeat: no-repeat;
}
.legend li.worked:before {
  background-position: 0 -23px;
}
.legend li.visited:before {
  background-position: 0 0;
}
html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-transition: 200ms;
  transition: 200ms;
}
h1 {
  margin-top: 3rem;
}
h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
h2.muted {
  color: #646261;
}
a {
  color: #646261;
  text-decoration: none;
}
.period {
  font-size: 0.8rem;
  color: #838383;
}
.title {
  color: #646261;
  font-weight: 700;
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 480px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 580px) {
  html {
    font-size: 6px;
  }
}
@media only screen and (min-width: 580px) and (max-width: 680px) {
  html {
    font-size: 7px;
  }
}
@media only screen and (min-width: 680px) and (max-width: 720px) {
  html {
    font-size: 9px;
  }
}
@media only screen and (min-width: 720px) and (max-width: 860px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (min-width: 860px) and (max-width: 920px) {
  html {
    font-size: 11px;
  }
}
@media only screen and (min-width: 920px) and (max-width: 1000px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  html {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
.sidebar {
  background-color: #fafafa;
}
.summary {
  background-color: #f0f0f0;
  text-align: center;
}
.summary h1 {
  text-transform: uppercase;
  margin-bottom: 0;
}
.summary h2.title {
  font-family: 'Noto Sans', sans-serif;
  margin-top: 0.1rem;
}
.summary .avatar {
  position: relative;
}
.summary .avatar img {
  width: 60%;
  border-radius: 50%;
  margin: 5rem 18% 2rem;
}
.summary .avatar .flag {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 14%;
  border: 0.4rem solid #f0f0f0;
}
.summary .location {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-left: 2rem;
  font-style: italic;
  display: inline-block;
  margin-top: 1rem;
  font-weight: 100;
}
.summary .location:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.1rem;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../images/location.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/*# sourceMappingURL=styles.css.map */
