h1#about About Me
p.
  Passionate software developer, geek, family guy and musician wannabe.
p.
  Man on few words so... some lorem from now on.
p.
  Facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. 
  Cupiditate non provident, similique sunt in culpa qui officia deserunt 
  mollitia. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut 
  odit aut fugit.
ul.list
  li Et harum quidem rerum facilis est et expedita distinctio.
  li Do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  li Itaque earum rerum hic tenetur a sapiente delectus.

p.
  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut 
  fugit. Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum
  iure reprehenderit qui in ea voluptate velit esse quam. Nam libero
  tempore, cum soluta nobis est eligendi optio cumque nihil impedit 
  quo minus id quod maxime placeat.
p.
  Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure 
  reprehenderit qui in ea voluptate velit esse quam. Animi, id est 
  laborum et dolorum fuga. Esse cillum dolore eu fugiat nulla pariatur.
p.
  Itaque earum rerum hic tenetur a sapiente delectus. Ut enim ad minima
  veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
  Temporibus autem quibusdam et aut officiis debitis aut rerum 
  necessitatibus saepe eveniet ut et voluptates repudiandae sint et 
  molestiae non recusandae.
br
h2.muted Languages I speak
br
.languages
  img(src='images/spanish.png')
  img(src='images/english.png')
  img(src='images/portuguese.png')
  img(src='images/japanese.png')
br
h2.muted Places I've Been
br
.map
  img(src='images/map.png')
ul.legend
  li.worked Living and Working
  li.visited Cultural Experience
