h1#education Education
h2 Instituto Intercultural #[span.period 2010 to 2011]
p.title Japanese!
p.
   Motivated by my love for anime, I decided to study some Japanese, 
   very interesting!

h2 Universidad de Mendoza #[span.period 2007 to 2008]
p.title Software Engineering
p.
  Continued studing Software Engineering for 1 more year, as opposed to
  Systems Engineering this career was focused on software
  more than project management.

h2 Universidad Tecnológica Nacional #[span.period 2000 to 2004]
p.title Systems Engineering
p.
  Started studying engineering without knowing exactly what 
  it was about, only to find tha I love it.

h2 Amicana #[span.period 1998 to 2004]
p.title English
p.
  English at school was not good enough so I enrolled in a long
  english course.
