h1#experience Work Experience
h2 Deviget #[span.period 2013 to present]
p.title Software Engineer
p.
  Joined the Deviget family as a consultant, motivated
  by the chance to work remotely on great projects 
  around the globe.

h2 AppNexus #[span.period 2013 to 2016]
p.title Frontend Engineer
p.
  I decided to improve my front end skills by joining 
  the AppNexus/Twixt team.
p.
  We built Twixt as a single page application, using 
  Python/Django on the backend, AngularJS and friends 
  on the frontend.
p.
  I got to feel very confortable with the browser 
  environment, I achieved my goals widely.
p.
  But it was infinitely satisfying that I was also 
  able to grow up as a team mate and as a person.
  The team was awesome, full of smart people willing 
  to share knowledge and build great things together.

h2 XoomCode #[span.period 2008 to 2013]
p.title Software Developer
p.
  At XoomCode I meet Ruby on Rails and agile development 
  methodologies. Continued developing UIs with 
  Adobe Flex but RoR in the back-end this time.
p.
  Developed CMS-like web sites in Rails3, but here I 
  went back to the roots, and started writing 
  HTML, CSS and JavaScript motivated by Haml, Sass, 
  Blueprint and JQuery, which made me believe in
  web UI development again.
p.
  Worked for more than a year in a big CMS. The application 
  was built with PHP ZendFramework and Doctrine ORM, HTML 
  and tons of CSS and JS. To reach some performance and 
  high-availability requirements we setup a MySQL cluster, 
  Memcached and multiple Apache servers.
p.
  Developed Android applications, mostly for surveying purposes.
p.
  Also developed tons of Drupal and Magento sites for companies.
p.
  The company moved almost completely to Ruby on Rails 
  development, some projects involve geo spatial data analysis,
  advertising, accounting, etc.

h2 Sequre #[span.period 2011 to 2011]
p.title Software Developer
p.
  As a freelancer, I worked on the commercial version of SequreISP, 
  which adds some plugins to the OS version. SequreISP is built in 
  Ruby on Rails and plugins are powered by Rails Engines.

h2 GISWorking #[span.period 2006 to 2008]
p.title Software Developer
p.
  Worked on a huge GIS project. At GISWorking we developed a custom 
  framework for PHP, to meet the requirements of the app. The first 
  version of the app UI was built with Backbase, later on we moved to 
  Adobe Flex. One of the main features of the app was the synchronization 
  between the mobile and desktop apps and the server. PostgreSQL and
  its powerful PL/pgSQL language helped a lot when dealing with performance 
  issues. PostGIS was in charge of solving the spatial problems.
p.
  The most exciting experience at GISWorking, was work with a great team 
  and to have the honor of leading the project.

h2 Unibras SRL #[span.period 2004 to 2006]
p.title Software Developer
p.
  I wrote a web application to manage the product's manufacturing process 
  of the company, and helped in the process of ISO9001 certification. 
  The application was built in PHP4, HTML, and MySQL
