footer
  strong Interested in working with me?
  p.
    Awesome! I'm available for full-time or freelance opportunities. <br>
    Get in touch:
  ul.contact
    li
      a.email(href='mailto:damianfarina@gmail.com')
        strong damianfarina@gmail.com
    li
      a.github(href='https://github.com/damianfarina', target='blank')
        strong github.com/damianfarina
    li
      a.twitter(href='https://twitter.com/damianfarina', target='blank')
        strong twitter.com/damianfarina
    li
      a.linkedin(href='https://ar.linkedin.com/in/damianfarina', target='blank')
        strong ar.linkedin.com/in/damianfarina
