title Resume
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Noto+Sans:700|Montserrat:400,700', type='text/css')
link(rel='stylesheet', href='stylesheets/styles.css')
script(type='text/javascript', src='scripts/vendor.js')
script(type='text/javascript', src='scripts/scripts.js')
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
