.summary
  .avatar
    img(src='images/profile.jpg')
    img.flag(src='images/flag.png')
  h1 Damián Farina
  h2.title Software Engineer
  h2.location Mendoza, Argentina
  .boxes
    .box #[span #[strong 33] #[br] y/o]
    .box #[span #[strong 11+] #[br] y/experience]
    .box #[span #[strong na] #[br] projects delivered]
