doctype
html
  head
    include ./partials/head.jade
  body
    .container
      .sidebar
        include ./partials/profile.jade
        include ./partials/nav.jade
        include ./partials/footer.jade
      .content
        include ./partials/about.jade
        include ./partials/education.jade
        include ./partials/experience.jade
        include ./partials/skills.jade
