doctype
html
  head
    title Resume
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Noto+Sans:700|Montserrat:400,700', type='text/css')
    link(rel='stylesheet', href='stylesheets/styles.css')
    script(type='text/javascript', src='scripts/vendor.js')
    script(type='text/javascript', src='scripts/scripts.js')
  body
    .container
      .sidebar
        .summary
          .avatar
            img(src='images/profile.jpg')
            img.flag(src='images/flag.png')
          h1 Damián Farina
          h2.title Software Engineer
          h2.location Mendoza, Argentina
          .boxes
            .box #[span #[strong 33] #[br] y/o]
            .box #[span #[strong 11+] #[br] y/experience]
            .box #[span #[strong na] #[br] projects delivered]
        ul.nav-links
          li #[a.about(href='#about') About Me]
          li #[a.education(href='#education') Education]
          li #[a.experience(href='#experience') Work Experience]
          li #[a.skills(href='#skills') Skills]
        
        footer
          strong Interested in working with me?
          p.
            Awesome! I'm available for full-time or freelance opportunities. <br>
            Get in touch:
          ul.contact
            li
              a.email(href='mailto:damianfarina@gmail.com')
                strong damianfarina@gmail.com
            li
              a.github(href='https://github.com/damianfarina', target='blank')
                strong github.com/damianfarina
            li
              a.twitter(href='https://twitter.com/damianfarina', target='blank')
                strong twitter.com/damianfarina
            li
              a.linkedin(href='https://ar.linkedin.com/in/damianfarina', target='blank')
                strong ar.linkedin.com/in/damianfarina

      .content
        h1#about About Me
        p.
          Passionate software developer, geek, family guy and musician wannabe.
        p.
          Facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        ul.list
          li Et harum quidem rerum facilis est et expedita distinctio.
          li Do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          li Itaque earum rerum hic tenetur a sapiente delectus.
        
        h2 Languages I speak
          

        h1#education Education
