doctype
html
  head
    title Resume
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(type='text/javascript', src='/scripts/vendor.js')
    script(type='text/javascript', src='/scripts/scripts.js')
  body
    h1 Resume
    p
      | Some text
      | in 1 line.
